<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>

  <!--Підключаємо стилі bootstrap-->
<link href="https://jsdelivr.net" rel="stylesheet">

</head>
<body>

  <header>
    <nav class="navbar bg-dark mb-4" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('products') }}">
          <img src="{{ url_for('static', filename='image/logo.png') }}" style="filter: invert(100%)"
               alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          <span class="navbar-brand m-1 h1">Product Manager</span>
        </a>

        <!--Кнопки-->
        <div>
          {% if session.get('company') %}
            <a href="{{ url_for('logout') }}" class="btn btn-danger" role="button">LogOut</a>
          {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-light" role="button">Login</a>
            <a href="{{ url_for('register') }}" class="btn btn-outline-light" role="button">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
        <h1 class="mb-4">Product manager</h1>

        {% with messages = get_flashed_messages() %}
          {% for msg in messages %}
            <div class="alert alert-info" role="alert">
              {{ msg }}
            </div>
          {% endfor %}
        {% endwith %}

        <!-- форма для додавання товару -->
        <h3 class="mb-4">Add product:</h3>

        <form method="POST" class="row g-3 mb-4">
          <div class="col-md-2">
            <input class="form-control" name="title"  type="text" placeholder="Title">
          </div>

          <div class="col-md-2">
            <input class="form-control" name="price" type="number" placeholder="Price">
          </div>

          <div class="col-md-2">
            <input class="form-control" name="category" type="text" placeholder="Category">
          </div>

          <div class="col-md-2">
            <button class="form-control btn btn-dark" type="submit">Add</button>
          </div>
        </form>


        <!-- форма для фільтрації товарів -->
        <h3 class="mb-4">Filter:</h3>

        <form method="GET" class="row g-3 mb-4">
          <div class="col-md-2">
            <select name="category" class="form-select">
              <option value="all" {% if choose_category=="all" %} selected {% endif %} > All</option>

              {% for category in categories %}
                <option value={{category}} {% if choose_category==category %} selected {% endif %} >{{ category }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2">
            <button type="submit" class="form-control btn btn-dark">Submit</button>
          </div>
        </form>


        <!-- список всіх товарів -->
        <h3 class="mb-4">Products:</h3>

        <table class="table table-hover" >

          <thead class="table-dark">
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>

            {% for product in products %}
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>

                <td>
                  <!--передаємо назву товару для динамічної адреси-->
                  <a href="{{ url_for('delete', name_product=product.name) }}">
                    <button class="btn btn-danger">Delete</button>
                  </a>
                </td>

              </tr>
            {% endfor %}

          </tbody>

          <tfoot></tfoot>
        </table>
    </div>
  </main>

</body>
</html>








